Create a python module (a file with extension ‘.py’) with the following functions:

1. (1 points) Write a python reads creates a dataframe from a URL that points to a CSV file such as the pronto data or CSVs in data.gov.

1. (6 points) Create the function test_create_dataframe that takes as input: (a) a pandas DataFrame and (b) a list of column names. The function returns True if the following conditions hold:

  - The DataFrame contains only the columns that you specified as the second argument.
  - The values in each column have the same python type
  - There are at least 10 rows in the DataFrame.

read_url is the function read data from URL

test_create_dataframe is the function testing the coditions

### Sample case

In [4]:
import hw2

In [5]:
url='https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD'

In [6]:
df = hw2.read_url(url)

In [7]:
df.head()

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,01/01/2019 12:00:00 AM,0.0,9.0
1,01/01/2019 01:00:00 AM,2.0,22.0
2,01/01/2019 02:00:00 AM,1.0,11.0
3,01/01/2019 03:00:00 AM,1.0,2.0
4,01/01/2019 04:00:00 AM,2.0,1.0

### Sample case when all conditions hold

In [8]:
colName = list(df.columns)
print(colName)

['Date', 'Fremont Bridge East Sidewalk', 'Fremont Bridge West Sidewalk']

In [9]:
type_list = []
for i in range(len(df.columns)):
    columns  = df.iloc[:,i]
    type0 = type(columns[0])
    type_list.append(all(isinstance(columns[j],type0) for j in range(len(df))))

In [ ]:
hw2.test_create_dataframe(df,colName)

### Function inside hw2 module

In [ ]:
import pandas as pd
def read_url(url):
    return pd.read_csv(url)

In [ ]:
def test_create_dataframe(df,colName):
    # return true if all conditions satisfied
    # The DataFrame contains only the columns that you specified as the second argument.
    # The values in each column have the same python type
    # There are at least 10 rows in the DataFrame.
    if (list(df.columns.values) == colName)  & len(set(df.dtypes.values.tolist())) == 1 & (len(df) >=10):
        return True

In [ ]:
i = 0

In [ ]:
columns  = df.iloc[:,i]
type0 = type(columns[0])
all(isinstance(columns[j],type0) for j in range(len(df)))

In [ ]:
len(df.columns)

In [ ]:
type(df.iloc[:,1][0])

In [ ]:
type_list = []
for i in range(len(df.columns)):
    columns  = df.iloc[:,i]
    type0 = type(columns[0])
    type_list.append(all(isinstance(columns[j],type0) for j in range(len(df))))

In [ ]:
all(type_list)

In [ ]:
all([False,True])